<div class="input-group input-group-lg mb-3">
  <input #notebox (keyup.enter)="createNote(notebox)" type="text" class="form-control" placeholder="Escreva..."
    aria-label="Large">
</div>
<div *ngFor="let note of notes$ | async">
  <div class="card mb-3" [@cardAnimator]="animationState[note.id]" (@cardAnimator.done)="resetAnimationState(note.id)" (swipeLeft)="startAnimation('slideOutLeft',note.id)"
    (swipeRight)="startAnimation('slideOutRight',note.id)">
    <div class="card-body">
      <p class="card-text">{{note.message}}</p>
      <p class="card-text">
        <small class="text-muted">Criado em {{getDate(note)}} as {{getTime(note)}}</small>
      </p>
    </div>
  </div>
</div>